<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @child.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @child.last_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @child.birthday %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @child.sex %>
</p>

<p>
  <strong>Location:</strong>
  <%= @child.location %>
</p>

<p>
  <strong>Allergies notes:</strong>
  <%= @child.allergies_notes %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @child.notes %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @child.parent_id %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
