<%= form_with(model: @contact, local: false)  do |f| %>
  <div class="row">
    <div class="col-md-6" id="flash-message">
      <%= render 'flash' %>
    </div> 
    <div class="col-lg-6">
      <div class="input-field">
        <%= f.text_field  :name, required: true, placeholder: "Name", class: "contact-form-text-area" %></br>
      </div>
      <div class="input-field">
        <%= f.text_field :email, required: true, placeholder: "Email", class: "contact-form-text-area" %></br>
      </div>
      <div class="input-field">
        <%= f.text_field :subject, required: true, placeholder: "Subject", class: "contact-form-text-area" %></br>
      </div>
      <div class="hidden-field">
        <%= f.hidden_field :location, value: @location %>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="input-field">
      <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area",
                        placeholder: "Send Little Ducklings a message"%></br>
      </div>

      
    </div>
    <div class="col-lg-12">
      <div class="btn-submit">
        <%= f.submit 'Send Message', class: 'btn-submit-green ' %>
      </div>
    </div>
    
  </div>
<% end %>
  


  