


    
<section  class="block no-padding">
  <section id="programs" class="pager-sec">
    <div class="container">
      <div class="pager-pag">
        <h3>OUR PROGRAMS</h3>
        <h4>The Little Ducklings Child Care Centers offers programs for children ages 8 months to 5 years</h4>
      </div><!--pager-pag end-->
    </div>
  </section><!--pager-sec end-->
  <div class="session-rooms">
    <div class="row">

      <div class="col-lg-6">
        <div class="room-info">
          <h3 class="title-hd">Infant Program</h3>
          <div class="badge badge-info">AGES: <%= @infant_program.ages if @infant_program %></div>
          <div class="badge badge-warning">Class Size: <%= @infant_program.class_size if @infant_program %></div>
            

          <div class="feat-links">
            <ul>
              <li><i class="fa fa-check"></i> <span>Our programming is based on the Early Learning Framework, to ensure it meets what is developmentally appropriate for the children.</span></li>
              <li><i class="fa fa-check"></i> <span>Build strong trusting relationships between educators and the children</span></li>
              <li><i class="fa fa-check"></i> <span>Create a safe environment for the children</span></li>
              <li><i class="fa fa-check"></i> <span>Build common routines between home and the centres</span></li>
              <li><i class="fa fa-check"></i> <span>Ensure the environment is diverse and inclusive to all children in the program.</span></li>
              <li><i class="fa fa-check"></i> <span>Incorporating each child’s culture, meeting the individual needs of each child.</span></li>
              <li><i class="fa fa-check"></i> <span>Communicate with parents about the child's growth and development</span></li>
              <li><i class="fa fa-check"></i> <span>Create learning experiences that allow the child to explore with their own sense</span></li>
              <li><i class="fa fa-check"></i> <span>Helping the child become familiar with language and literature, to increase speech development.</span></li>
              <li><i class="fa fa-check"></i> <span>Assist the child in fine and gross motor development. </span></li>
              <li><i class="fa fa-check"></i> <span>Build creative play and individual expression.</span></li>
              <li><i class="fa fa-check"></i> <span>Build social and emotional development.</span></li>
              <li><i class="fa fa-check"></i> <span>Increase cognitive development.</span></li>
              <li><i class="fa fa-check"></i> <span>Ensure the children feel loved, happy and cared for.</span></li>

            </ul>
          </div>
          <!-- <a href="#" title="">More Info</a> -->
          

        </div><!--room-info end-->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6 ">
        <div class="room-img">
          <%= image_tag 'infant-room-1.jpeg', width: '340' %>
        </div><!--room-img end-->
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="room-img">
          <%= image_tag 'infant-room-3.jpeg', width: '340' %>
        </div><!--room-img end-->
      </div>
    </div>
  </div><!--session-rooms end-->
</section>
<section class="block2">
    <div class="fixed-bg bg-1"></div>
    <div class="container">
      <div class="descp-sec">
        <h3>Over <span>30 Years Experience</span> in the childcare and development sector</h3>
      </div><!--descp-sec end-->
    </div>
  </section>
  <section class="block no-padding">
  <div class="session-rooms">
    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="room-img">
          <%= image_tag 'toddler-superhero.jpeg', width: '340' %>
        </div><!--room-img end-->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="room-img">

          <%= image_tag 'toddler-room-keep', width: '340' %>
        </div><!--room-img end-->
      </div>
      <div class="col-lg-6">
        <div class="room-info">
          <h3 class="title-hd">Toddler Program</h3>
          <div class="badge badge-info">Age: 2 - 3 years</div>
          <div class="badge badge-warning">Class Size: 15</div>

          <div class="feat-links">
            <ul>
              <li><i class="fa fa-check"></i> <span>Our programming is based on the Early Learning Framework, to ensure it meets what is developmentally appropriate for the children.</span></li>
              <li><i class="fa fa-check"></i> <span>Continue to build off the infant programming based upon the individual need of the child.</span></li>
              <li><i class="fa fa-check"></i> <span>Create a safe and loving environment to Build peer relationships.</span></li>

              <li><i class="fa fa-check"></i> <span>Begin to develop parallel / associative play.</span></li>
              <li><i class="fa fa-check"></i> <span>Develop a deeper sense of self and self regulation skills</span></li>
              <li><i class="fa fa-check"></i> <span>Start to develop toileting skills.</span></li>
              <li><i class="fa fa-check"></i> <span>Continue to build self help skills.</span></li>
              <li><i class="fa fa-check"></i> <span>Learn to build upon speech by using language as the main communication style(language development)</span></li>
              <li><i class="fa fa-check"></i> <span>Continue the development of fine motor and gross motor development. </span></li>
              <li><i class="fa fa-check"></i> <span>Continue to build cognitive development by recognizing colors, shapes, letters and numbers.</span></li>
              <li><i class="fa fa-check"></i> <span>Continue to build on social and emotional development by taking turns and regulating emotions.</span></li>
              <li><i class="fa fa-check"></i> <span>Build creative play and individual expression.</span></li>
              <li><i class="fa fa-check"></i> <span>Create an engaging inclusive environment.</span></li>
              <li><i class="fa fa-check"></i> <span>Encourage joy and smiles each day. </span></li>
              
            </ul>
          </div>
          <!-- <a href="#" title="">More Info</a> -->
          

        </div><!--room-info end-->
      </div>
      
    </div>
  </div><!--session-rooms end-->
</section>
  <section class="block2">
      <div class="fixed-bg bg-3"></div>
      <div class="container">
        <div class="descp-sec">
          <h3><span>Newly Constructed</span> buildings with <span>Bright Clean Rooms</span> with <span>Green Space outside</span></h3> 
        </div><!--descp-sec end-->
      </div>
    </section>


  <section class="block no-padding">
  <div class="session-rooms">
    <div class="row">
      <div class="col-lg-6">
        <div class="room-info ">
          <h3 class="title-hd">Pre-Kindergarten Program</h3>
          <div class="badge badge-info">Ages: 3 - 4 Years</div>
          <div class="badge badge-warning">Class Size: 25</div>

          <div class="feat-links">
            <ul>
              <li><i class="fa fa-check"></i> <span>Our programming is based on the Early Learning Framework, to ensure it meets what is developmentally appropriate for the children.</span></li>
              <li><i class="fa fa-check"></i> <span>Continue to build off the infant programming based upon the individual need of the child.</span></li>
              <li><i class="fa fa-check"></i> <span>Create a safe and loving environment to Build peer relationships.</span></li>
              
              <li><i class="fa fa-check"></i> <span>Begin to develop parallel and associative play.</span></li>
              <li><i class="fa fa-check"></i> <span>Develop a deeper sense of self and self regulation skills.</span></li>
              <li><i class="fa fa-check"></i> <span>Start to develop toileting skills.</span></li>
              <li><i class="fa fa-check"></i> <span>Continue to build self help skills.</span></li>
              <li><i class="fa fa-check"></i> <span>Learn to build upon speech by using language as the main communication style(language development)</span></li>
              <li><i class="fa fa-check"></i> <span>Continue the development of fine motor and gross motor development. </span></li>
              <li><i class="fa fa-check"></i> <span>Continue to build cognitive development by recognizing colors, shapes, letters and numbers.</span></li>
              <li><i class="fa fa-check"></i> <span>Continue to build on social and emotional development by taking turns and regulating emotions.</span></li>
              <li><i class="fa fa-check"></i> <span>Build creative play and individual expression.</span></li>
              <li><i class="fa fa-check"></i> <span>Create an engaging inclusive environment.</span></li>
              <li><i class="fa fa-check"></i> <span>Encourage joy and smiles each day. </span></li>
              
            </ul>
          </div>
          <!-- <a href="#" title="">More Info</a> -->
          


        </div><!--room-info end-->
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="room-img">
          <%= image_tag 'boy-340x719.jpeg', width: '340' %>
        </div><!--room-img end-->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="room-img">
          <%= image_tag 'pre-k-340x719.jpeg', width: '340' %>
          
        </div><!--room-img end-->
      </div>
    </div>
  </div><!--session-rooms end-->
</section>





<section class="block2">
    <div class="fixed-bg bg-4"></div>
    <div class="container">
      <div class="descp-sec">
        <h3><span>Purpose built</span> play areas for your childs growth and education</h3>
      </div><!--descp-sec end-->
    </div>
  </section>


  <section class="block no-padding">
  <div class="session-rooms">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="room-img">
          <%= image_tag 'pre-school-room.jpeg', width: '340' %>
        </div><!--room-img end-->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="room-img">
          <%= image_tag 'pre-k-painting.jpeg', width: '340' %>
        </div><!--room-img end-->
      </div>
      <div class="col-lg-6">
        <div class="room-info ">
          <h3 class="title-hd">Preschool Program</h3>
          <div class="badge badge-info">Ages: 4 - 5 Years</div>
          <div class="badge badge-warning">Class Size: 25</div>

          <div class="feat-links">
            <ul>
              <li><i class="fa fa-check"></i> <span>Our programming is based on the Early Learning Framework, to ensure it meets what is developmentally appropriate for the children.</span></li>
              <li><i class="fa fa-check"></i> <span>Continue to build off the infant programming based upon the individual need of the child.</span></li>
              <li><i class="fa fa-check"></i> <span>Create a safe and loving environment to Build peer relationships.</span></li>
              
              <li><i class="fa fa-check"></i> <span>Begin to develop parallel and associative play.</span></li>
              <li><i class="fa fa-check"></i> <span>Develop a deeper sense of self and self regulation skills.</span></li>
              <li><i class="fa fa-check"></i> <span>Start to develop toileting skills.</span></li>
              <li><i class="fa fa-check"></i> <span>Continue to build self help skills.</span></li>
              <li><i class="fa fa-check"></i> <span>Learn to build upon speech by using language as the main communication style(language development)</span></li>
              <li><i class="fa fa-check"></i> <span>Continue the development of fine motor and gross motor development. </span></li>
              <li><i class="fa fa-check"></i> <span>Continue to build cognitive development by recognizing colors, shapes, letters and numbers.</span></li>
              <li><i class="fa fa-check"></i> <span>Continue to build on social and emotional development by taking turns and regulating emotions.</span></li>
              <li><i class="fa fa-check"></i> <span>Build creative play and individual expression.</span></li>
              <li><i class="fa fa-check"></i> <span>Create an engaging inclusive environment.</span></li>
              <li><i class="fa fa-check"></i> <span>Encourage joy and smiles each day. </span></li>
              
            </ul>
          </div>
          


        </div><!--room-info end-->
      </div>
      

    </div>
  </div><!--session-rooms end-->
</section>
<section class="block2">
    <div class="fixed-bg bg-1"></div>
    <div class="container">
      <div class="descp-sec">
        <h3>Our Childcare Centres feature <span>Air Conditioning</span> keep your children comforable</h3>
      </div><!--descp-sec end-->
    </div>
  </section>
