


    
<section  class="block no-padding">
  <section id="programs" class="pager-sec">
    <div class="container">
      <div class="pager-pag">
        <h3>OUR PROGRAMS</h3>
      </div><!--pager-pag end-->
    </div>
  </section><!--pager-sec end-->
  <div class="session-rooms">
    <div class="row">
      <div class="col-lg-3">
        <div class="room-info">
          <h3 class="title-hd">Infant Program</h3>
          <span>AGES 8-22 Months</span>
          <span>Class Size 6</span>
          <h3> Designed and equipped to promote physical skills such as crawling and walking.</h3>
          <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas.</p>
          <a href="#" title="">More Info</a>
        </div><!--room-info end-->
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-4">
        <div class="room-img">
          <%= image_tag 'infant-room-1.jpeg', width: '340' %>
        </div><!--room-img end-->
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-4">
        <div class="room-img">
          <%= image_tag 'infant-room-2.jpeg', width: '340' %>
        </div><!--room-img end-->
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-4">
        <div class="room-img">
          <%= image_tag 'infant-room-3.jpeg', width: '340' %>
        </div><!--room-img end-->
      </div>
    </div>
  </div><!--session-rooms end-->
</section>
<section class="block2">
    <div class="fixed-bg bg-1"></div>
    <div class="container">
      <div class="descp-sec">
        <h3>Over <span>30 Years Experience</span> in the childcare and development sector</h3>
      </div><!--descp-sec end-->
    </div>
  </section>
  <section class="block no-padding">
  <div class="session-rooms">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-4 col-4">
        <div class="room-img">
          <%= image_tag 'toddler-room.jpeg', width: '340' %>
  
        </div><!--room-img end-->
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-4">
        <div class="room-img">
          <%= image_tag 'toddler-superhero.jpeg', width: '340' %>
        </div><!--room-img end-->
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-4">
        <div class="room-img">

          <%= image_tag 'toddler-room-keep', width: '340' %>
        </div><!--room-img end-->
      </div>
      <div class="col-lg-3">
        <div class="room-info style2">
          <h3 class="title-hd">Toddler Program</h3>
          <span>AGES 22 - 36 Months</span>
          <span>Class Size 15</span>
          <h3> Designed and equipped to promote physical skills such as crawling and walking. A beautiful and stimulating environment with plenty of sensory experiences.</h3>
          <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas.</p>
          <a href="#" title="">More Info</a>
        </div><!--room-info end-->
      </div>
    </div>
  </div><!--session-rooms end-->
</section>
  <section class="block2">
      <div class="fixed-bg bg-3"></div>
      <div class="container">
        <div class="descp-sec">
          <h3><span>Newly Constructed</span> buildings with <span>Bright Clean Rooms</span> with <span>Green Space outside</span></h3> 
        </div><!--descp-sec end-->
      </div>
    </section>


  <section class="block no-padding">
  <div class="session-rooms">
    <div class="row">
      <div class="col-lg-3">
        <div class="room-info style3">
          <h3 class="title-hd">Pre-Kindergarten Program</h3>
          <span>AGES 4-5 Years</span>
          <span>Class Size 25</span>
          <h3> Designed and equipped to promote physical skills such as crawling and walking. A beautiful and stimulating environment</h3>
          <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas.</p>
          <a href="#" title="">More Info</a>
        </div><!--room-info end-->
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-4">
        <div class="room-img">
          <%= image_tag 'pre-k-2-340x719.jpeg', width: '340' %>
          
        </div><!--room-img end-->
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-4">
        <div class="room-img">
          <%= image_tag 'boy-340x719.jpeg', width: '340' %>
        </div><!--room-img end-->
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-4">
        <div class="room-img">
          <%= image_tag 'pre-k-340x719.jpeg', width: '340' %>
          
        </div><!--room-img end-->
      </div>
    </div>
  </div><!--session-rooms end-->
</section>





<section class="block2">
    <div class="fixed-bg bg-4"></div>
    <div class="container">
      <div class="descp-sec">
        <h3><span>Purpose built</span> play areas for your childs growth and education</h3>
      </div><!--descp-sec end-->
    </div>
  </section>


  <section class="block no-padding">
  <div class="session-rooms">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-4 col-4">
        <div class="room-img">
          <%= image_tag 'pre-school-room.jpeg', width: '340' %>
        </div><!--room-img end-->
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-4">
        <div class="room-img">
          <%= image_tag 'pre-k-painting.jpeg', width: '340' %>
        </div><!--room-img end-->
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-4">
        <div class="room-img">
          <%= image_tag 'preschool-room-340x719.jpeg', width: '340' %>
        </div><!--room-img end-->
      </div>
      <div class="col-lg-3">
        <div class="room-info style3">
          <h3 class="title-hd">Pre-School Program</h3>
          <span>AGES 3-4 Years</span>
          <span>Class Size 18</span>
          <h3> Designed and equipped to promote physical skills such as crawling and walking. A beautiful and stimulating </h3>
          <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas.</p>
          <a href="#" title="">More Info</a>
        </div><!--room-info end-->
      </div>

    </div>
  </div><!--session-rooms end-->
</section>
<section class="block2">
    <div class="fixed-bg bg-1"></div>
    <div class="container">
      <div class="descp-sec">
        <h3>Our Childcare Centres feature <span>Air Conditioning</span> keep your children comforable</h3>
      </div><!--descp-sec end-->
    </div>
  </section>
