<% render :partial => '/layouts/main_slider.erb' %>
<%= render :partial => '/layouts/welcome.erb' %>
<%= render :partial => '/layouts/why_little_ducklings.erb' %>
<%= render :partial => '/layouts/educators.erb' %>
<%= render :partial => '/layouts/testimonials.erb' %>

<%= render :partial => '/page/program_details.erb' %>
<%= render :partial => '/layouts/pricetables.erb' %>
<%= render :partial => '/layouts/blog.erb' %>

<%= render :partial => '/layouts/contact_us.erb' %>

<!-- <section id="test" class="block3 remove-btm-gap">
  <div class="fixed-bg bg2 overlay"></div>
  <div class="container">
    <h1>Page#home</h1>
    <p>Find me in app/views/page/about.html.erb</p>
  </div>
</section> -->

