<% render :partial => '/layouts/main_slider.erb' %>
<%= render :partial => '/layouts/welcome.erb' %>
<%= render :partial => '/layouts/why_little_ducklings.erb' %>
<%= render :partial => '/layouts/educators.erb' %>
<%= render :partial => '/layouts/our_class.erb' %>
<%= render :partial => '/layouts/testimonials.erb' %>
<%= render :partial => '/layouts/blog.erb' %>
<!-- <section id="test" class="block3 remove-btm-gap">
  <div class="fixed-bg bg2 overlay"></div>
  <div class="container">
    <h1>Page#Lake</h1>
    <p>Find me in app/views/page/lake.html.erb</p>
  </div>
</section> -->
