<%= render :partial => '/layouts/main_slider.html.erb' %>
<%= render :partial => '/layouts/welcome.html.erb' %>
<%= render :partial => '/layouts/why_little_ducklings.html.erb' %>
<%= render :partial => '/layouts/educators.html.erb' %>
<%= render :partial => '/layouts/our_class.html.erb' %>
<%= render :partial => '/layouts/testimonials.html.erb' %>
<%= render :partial => '/layouts/blog.html.erb' %>
<!-- <section id="test" class="block3 remove-btm-gap">
  <div class="fixed-bg bg2 overlay"></div>
  <div class="container">
    <h1>Page#Lake</h1>
    <p>Find me in app/views/page/lake.html.erb</p>
  </div>
</section> -->