<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @parent.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @parent.last_name %>
</p>

<p>
  <strong>Phone primary:</strong>
  <%= @parent.phone_primary %>
</p>

<p>
  <strong>Phone secondary:</strong>
  <%= @parent.phone_secondary %>
</p>

<p>
  <strong>Primary contract:</strong>
  <%= @parent.primary_contract %>
</p>

<p>
  <strong>Street:</strong>
  <%= @parent.street %>
</p>

<p>
  <strong>Province:</strong>
  <%= @parent.province %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @parent.postal %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @parent.notes %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
