<footer>
  <div class="container">
    <div class="footer-data">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget widget-about">
            <h3 class="widget-title">About Us</h3>
            <p>Little Ducklings Child Care Centers are located in Stratford Prince Edward Island. Our Centers offer care to children from 8 months to the after School program.</p>
              
            <%= image_tag 'littleDucklingsLogo_2.png', width: 250 %>
          </div><!--widget-about end-->
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget widget-links">
            <h3 class="widget-title">Pages</h3>
            <ul>

              <li><%= link_to "Home", homepage_url("welcome") %></li>
              
              <li><%= link_to "Educators", homepage_url("educators")%></li>
              <li><%= link_to "Testimonials", homepage_url("testimonials") %></li>
              <li><%= link_to "Programs", homepage_url("programs")%></li>
              <li><%= link_to "Prices", homepage_url("prices")%></li>
              <!-- <li><%= link_to "Contact", homepage_url("contact")%></li> -->
              <!-- <li><%= link_to "Gallery", homepage_url("gallery")%></li> -->

            </ul>
          </div><!--widget-links end-->
        </div>
        
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
           <div class="widget widget-menu">
            <h3 class="widget-title">On Menu This Week</h3>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <h4>Monday</h4>
                <ul>
                  <li>Morning Snack: <%= @menu.monday_morning_snack if @menu.monday_morning_snack.present? %></li>
                  <li>Lunch: <%= @menu.monday_lunch if @menu.monday_lunch.present? %></li>
                  <li>Afternoon Snack: <%= @menu.monday_afternoon_snank if @menu.monday_afternoon_snank.present? %></li>
                </ul>
                <h4>Tuesday</h4>
                <ul>
                  <li>Morning Snack: <%= @menu.tuesday_morning_snack %></li>
                  <li>Lunch: <%= @menu.tuesday_lunch %></li>
                  <li>Afternoon Snack: <%= @menu.tuesday_afternoon_snank %></li>
                </ul>
                <h4>Wednesday</h4>
                <ul>
                  <li>Morning Snack: <%= @menu.wednesday_morning_snack %></li>
                  <li>Lunch: <%= @menu.wednesday_lunch %></li>
                  <li>Afternoon Snack: <%= @menu.wednesday_afternoon_snank %></li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <h4>Thursday</h4>
                <ul>
                  <li>Morning Snack: <%= @menu.thursday_morning_snack %></li>
                  <li>Lunch: <%= @menu.thursday_lunch %></li>
                  <li>Afternoon Snack: <%= @menu.thursday_afternoon_snank %></li>
                </ul>
                <h4>Friday</h4>
                <ul>
                  <li>Morning Snack: <%= @menu.friday_morning_snack %></li>
                  <li>Lunch: <%= @menu.friday_lunch %></li>
                  <li>Afternoon Snack: <%= @menu.friday_afternoon_snank %></li>
                </ul>
              </div>
            </div class="row">


          </div><!--widget-menu end -->
        </div>

      </div>
    </div><!-- footer-data end-->
  </div>
</footer><!--footer end-->