  <section id="prices" class="pager-sec">
    <div class="container">
      <div class="pager-pag">
        <h3>OUR PRICES</h3>
      </div><!--pager-pag end-->
    </div>
  </section><!--pager-sec end-->
  <section class="block3">
    <div class="fixed-bg bg7"></div>
    <div class="container">
      <div class="pricing-tables">
        <div class="row">
          <%- if @centre and @centre.program_name.present? and @centre.program_price.present? %>
            <div class="col-lg-3 col-md-4">
              <div class="price-table clr_1">
                <div class="ico sbg1">
                  <i class="fad fa-duck"></i>
                </div>
                <h3><%= @centre.program_name %></h3>
                <div class="pricing-content">
                  <ul>
                    <li>
                      <span>Per Week</span>
                      <span><strong>$<%= @centre.program_price %></strong></span>
                      
                    </li>

                  </ul>
                </div><!--pricing-content end-->

              </div><!--price-table end-->
            </div>
          <%- end %>
          <%- if @centre and @centre.program_2_name.present? and @centre.program_2_price.present? %>
            <div class="col-lg-3 col-md-4">
              <div class="price-table clr_2">
                <div class="ico ">
                  <i class="fad fa-duck"></i>
                </div>
                <h3><%= @centre.program_2_name %></h3>
                <div class="pricing-content ">
                  <ul>
                    <li>
                      <span>Per Week</span>
                      <span><strong>$<%= @centre.program_2_price %></strong></span>
                      
                    </li>

                  </ul>
                </div><!--pricing-content end-->

              </div><!--price-table end-->
            </div>

          <%- end %>
          <%- if @centre and @centre.program_3_name.present? and @centre.program_3_price.present? %>
            <div class="col-lg-3 col-md-4">
              <div class="price-table clr_1">
                <div class="ico sbg1">
                  <i class="fad fa-duck"></i>
                </div>
                <h3><%= @centre.program_3_name %></h3>
                <div class="pricing-content ">
                  <ul>
                    <li>
                      <span>Per Week</span>
                      <span><strong>$<%= @centre.program_3_price %></strong></span>
                      
                    </li>

                  </ul>
                </div><!--pricing-content end-->

              </div><!--price-table end-->
            </div>

          <%- end %>
          <%- if @centre and @centre.program_4_name.present? and @centre.program_4_price.present? %>
            <div class="col-lg-3 col-md-4">
              <div class="price-table clr_2">
                <div class="ico ">
                  <i class="fad fa-duck"></i>
                </div>
                <h3><%= @centre.program_4_name %></h3>
                <div class="pricing-content ">
                  <ul>
                    <li>
                      <span>Per Week</span>
                      <span><strong>$<%= @centre.program_4_price %></strong></span>
                      
                    </li>

                  </ul>
                </div><!--pricing-content end-->

              </div><!--price-table end-->
            </div>

          <%- end %>
          
        </div>
      </div><!--pricing-tables end-->
      
      <div class="other-info">
        <p>Part-time must be at least two days per week and they need to be the same days each week. If you have any questions, please do not hesitate to contact us.</p>
        <div class="cont-info">
          <%- if @centre and @centre.email.present? and @centre.phone.present? %>
            <h3><a href=<%= @centre.email %> title=""><%= @centre.email %></a></h3>
            <h3><%= @centre.phone %></h3>
          <% end %>
        </div><!--cont-info end -->
      </div><!--other-info end-->
    </div>
  </section>


  <section class="block no-padding">
    <div class="cms-opng-details">
      <div class="row">
        <div class="col-lg-6">
          <div class="cms-opn-info pd-left">
            <h3 class="title-hd">Opening Times</h3>
            <p><%= @centre.openning_time.html_safe if @centre and @centre.openning_time.present? %></p>
          </div><!--cms-opn-info end-->
        </div>
        <div class="col-lg-6">
          <div class="cms-opn-info pd-right">
            <h3 class="title-hd">Payments</h3>
            <p><%= @centre.payments.html_safe if @centre and @centre.payments.present? %></p>
            
          </div><!--cms-opn-info end-->
        </div>
      </div>
    </div><!--cms-opng-details end-->
  </section>


  