<!DOCTYPE html>
<html>
  <head>
    <title>Little Ducklings Childcare Centre</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><%= image_tag("logo-no-ducks.png", width: 200) %><%= image_tag("logo-just-ducks.png", width: 200) %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
   
            <li class="nav-item">
              <a class="nav-link" href="#welcome">Welcome</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#educators">Educators</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#menu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#testimonials">Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#blog">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div id="carousel-main" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-main" data-slide-to="1"></li>
          <li data-target="#carousel-main" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/LAaSoL0LrYs/1920x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4">First Slide</h2>
              <p class="lead">This is a description for the first slide.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://source.unsplash.com/bF2vsubyHcQ/1920x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4">Second Slide</h2>
              <p class="lead">This is a description for the second slide.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080')">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="display-4">Third Slide</h2>
              <p class="lead">This is a description for the third slide.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-main" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-main" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
    <section id="welcome" class="block2">
      <div class="fixed-bg bg1"></div>
      <div class="container">
        <div class="descp-sec">
          <h3>Welcome to the <span>Little Duckling’s</span> Childcare Centre</h3>
        </div><!--descp-sec end-->
      </div>
    </section>
    <section class="block bdr-bfr">
      <div class="container">
        <div class="our-services">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="alert alert-success" role="alert">
                This is a success alert—check it out!
              </div>
              <div class="service-details">
                <div class="service-icon sbg1">
                  <i class="fa fa-paw"></i>
                </div>
                <div class="service-info">
                  <h3>Little Ducklings</h3>
                  <h3>Early Years </h3>
                  <h3>Centre</h3>
                  <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna.</p>
                </div>
              </div><!--service-details end-->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="alert alert-danger" role="alert">
                This is a danger alert—check it out!
              </div>
              
              <div class="service-details">
                <div class="service-icon sbg2">
                  <i class="fa fa-paw"></i>
                </div>
                <div class="service-info">
                  <h3>The Pond</h3>
                  <h3>Early Learning</h3>
                  <h3>Centre</h3>
                  <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna.</p>
                </div>
              </div><!--service-details end-->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="service-details">
                <div class="alert alert-warning" role="alert">
                  This is a warning alert—check it out!
                </div>
                <div class="service-icon sbg3">
                  <i class="fa fa-paw"></i>
                </div>

                <div class="service-info">
                  <h3>The Lake</h3>
                  <h3>After School</h3>
                  <h3>Club</h3>
                  <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna.</p>
                </div>
              </div><!--service-details end-->  
            </div>
          </div>
        </div><!--our-services-->
      </div>
    </section>

          <section class="block7 remove-btm-gap">
            <div class="container">
              <div class="cms-about-us">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="cms-about-text pt-top">
                      <h3 class="title-hd">Why <span>LITTLE DUCKLINGS</span> Childcare Centre</h3>
                      <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas.</p>
                      <p> Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna ante feugiat elit maecenas. </p>
                      <a href="#" title="">More Info</a>
                    </div><!--cms-about-text end-->
                  </div>
                  <div class="col-lg-6">
                    <div class="cms-abt-img">
                      <img src="http://via.placeholder.com/667x463" alt="">
                    </div><!--cms-abt-img end-->
                  </div>
                </div>
              </div><!--about-us-sec end-->
            </div>
          </section>


          <section id="educators" class="block3 remove-btm-gap">
            <div class="fixed-bg bg2 overlay"></div>
            <div class="container">
              <div class="heading">
                <h3>Meet Our Educators</h3>
                <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas.</p>
              </div><!--heading end-->
              <div class="teachers-sec">
                <div class="row staff-carousel">
                  <div class="col-lg-3">
                    <div class="tch-team">
                      <h3>Sarah Larter</h3>
                      <span>Founder</span>
                      <%= image_tag 'staff-photo-example-1.png', style: '' %>
                    </div><!--tch-team end-->
                  </div>
                  <div class="col-lg-3">
                    <div class="tch-team">
                      <h3>Nicole Leclair</h3>
                      <span>Founder</span>
                      <%= image_tag 'staff-photo-example-2.png', style: '' %>
                    </div><!--tch-team end-->
                  </div>
                  <div class="col-lg-3">
                    <div class="tch-team">
                      <h3>Laura Baker</h3>
                      <span>Director ● The Center</span>
                      <%= image_tag 'staff-photo-example-1.png', style: '' %>
                    </div><!--tch-team end-->
                  </div>
                  <div class="col-lg-3">
                    <div class="tch-team">
                      <h3>Ashley Doucette</h3>
                      <span>Director ● The Pond</span>
                      <%= image_tag 'staff-photo-example-2.png', style: '' %>
                    </div><!--tch-team end-->
                  </div>
                  <div class="col-lg-3">
                    <div class="tch-team">
                      <h3>Jackie Mears</h3>
                      <span>Level 3 Early Childhood</span>
                      <span>Toddler Educator</span>
                      <span> </span>
                      <%= image_tag 'staff-photo-example-2.png', style: '' %>
                    </div><!--tch-team end-->
                  </div>
                  <div class="col-lg-3">
                    <div class="tch-team">
                      <h3>Jenny McCarron</h3>
                      <span>Level 3 Early Childhood</span>
                      <span>Toddler Educator</span>
                      <span> </span>
                      <%= image_tag 'staff-photo-example-1.png', style: '' %>
                    </div><!--tch-team end-->
                  </div>
                  <div class="col-lg-3">
                    <div class="tch-team">
                      <h3>Justine Chandler</h3>
                      <span>Level 1 Early Childhood</span>
                      <span>Pre Kindergarten Educator</span>
                      <%= image_tag 'staff-photo-example-2.png', style: '' %>
                    </div><!--tch-team end-->
                  </div>
                  <div class="col-lg-3">
                    <div class="tch-team">
                      <h3>Jinzi Maio</h3>
                      <span>Level 1 Early Childhood</span>
                      <span>Pre Kindergarten Educator</span>
                      <%= image_tag 'staff-photo-example-1.png', style: '' %>
                    </div><!--tch-team end-->
                  </div>
                </div>
              </div><!--teachers-sec end-->
            </div>
          </section>


          <section  class="block2 remove-btm-gap">
            <div class="container">
              <div class="facility-sec">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="cl-facility">
                      <h3 class="title-hd">Classroom Facilities</h3>
                      <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas.</p>
                      <p> Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna ante feugiat elit maecenas. Loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna ante feugiat elit maecenas. </p>
                    </div><!--cl-facility end-->
                  </div>
                  <div class="col-lg-6">
                    <div class="fct-img">
                      <img src="http://via.placeholder.com/571x380" alt="">
                    </div><!--fct-img end-->
                  </div>
                </div>
              </div><!--facility-sec end-->
            </div>
          </section>


          <section id="menu" class="block4">
            <div class="container">
              
              <div class="our-features-sec">
                <div class="features-list-tab">
                  <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                  <li>
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Monday</a>
                  </li>
                    <li>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Tuesday</a>
                    </li>
                  <li>
                     <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Wednesday</a>
                  </li>
                  <li>
                     <a class="nav-link" id="dev-tab" data-toggle="tab" href="#dev" role="tab" aria-controls="dev" aria-selected="false">Thursday</a>
                  </li>
                  <li>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Friday </a>
                  </li>
                </ul>
                </div><!--features-list-tab end-->
                <div class="feature-services">
                  <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="cws-inp-details">
                          <h3>Indoor Play Areas</h3>
                          <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis.</p>
                          <p> Loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna ante feugiat elit maecenas.</p> 
                          <a href="#" title="">More info</a>
                        </div><!--cws-inp-details end-->
                      </div>
                      <div class="col-lg-4">
                        <div class="tb-img">
                          <img src="http://via.placeholder.com/307x323" alt="">
                        </div><!--tb-img end-->
                      </div>
                    </div>
                  </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <div class="row">
                      <div class="col-lg-8">
                        <div class="cws-inp-details">
                          <h3>Indoor Play Areas</h3>
                          <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis.</p>
                          <p> Loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna ante feugiat elit maecenas.</p> 
                          <a href="#" title="">More info</a>
                        </div><!--cws-inp-details end-->
                      </div>
                      <div class="col-lg-4">
                        <div class="tb-img">
                          <img src="http://via.placeholder.com/307x323" alt="">
                        </div><!--tb-img end-->
                      </div>
                    </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      <div class="row">
                      <div class="col-lg-8">
                        <div class="cws-inp-details">
                          <h3>Indoor Play Areas</h3>
                          <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis.</p>
                          <p> Loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna ante feugiat elit maecenas.</p> 
                          <a href="#" title="">More info</a>
                        </div><!--cws-inp-details end-->
                      </div>
                      <div class="col-lg-4">
                        <div class="tb-img">
                          <img src="http://via.placeholder.com/307x323" alt="">
                        </div><!--tb-img end-->
                      </div>
                    </div>
                    </div>
                    <div class="tab-pane fade" id="dev" role="tabpanel" aria-labelledby="dev">
                      <div class="row">
                      <div class="col-lg-8">
                        <div class="cws-inp-details">
                          <h3>Indoor Play Areas</h3>
                          <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis.</p>
                          <p> Loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna ante feugiat elit maecenas.</p> 
                          <a href="#" title="">More info</a>
                        </div><!--cws-inp-details end-->
                      </div>
                      <div class="col-lg-4">
                        <div class="tb-img">
                          <img src="http://via.placeholder.com/307x323" alt="">
                        </div><!--tb-img end-->
                      </div>
                    </div>
                    </div>
                </div>
              </div>
              </div><!--our-features-sec end-->
            </div>
          </section>


          <section id='testimonials' class="block3">
            <div class="fixed-bg bg3"></div>
            <div class="container">
              <div class="vol-per-sec">
                <div class="counter-detl">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="vol-text">
                        <h3>Our Results Speak Volumes</h3>
                        <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas.</p>
                      </div><!--vol-text end-->
                    </div>
                    <div class="col-lg-6">
                      <div class="counter-sec">
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                            <div class="counter-dv">
                              <div class="counter-txt">
                                <h3><span class="count">92</span>%</h3>
                                <span>PASS RATE</span>
                              </div>
                            </div><!--counter-dv end-->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                            <div class="counter-dv st2">
                              <div class="counter-txt">
                                <h3><span class="count">96</span>%</h3>
                                <span>HAPPY CHILDREN</span>
                              </div>
                            </div><!--counter-dv end-->
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                            <div class="counter-dv st3">
                              <div class="counter-txt">
                                <h3><span class="count">100</span>%</h3>
                                <span>HAPPY PARENTS</span>
                              </div>
                            </div><!--counter-dv end-->
                          </div>
                        </div>
                        
                      </div><!--counter-sec end-->
                    </div>
                  </div>
                </div>
                <div class="out-text">
                <h2>Voted <span>OUTSTANDING</span> by our local Stratford community parents</h2>
              </div><!--out-text end-->
              </div><!--vol-per-sec end-->
            </div>
          </section>


          <section class="block4">
            <div class="fixed-bg bg4 clr-overlay"></div>
            <div class="container">
              <div class="heading st2">
                <h3>What The Parents Say</h3>
              </div><!--heading end-->

              <div id="carouselContent" class="testimonial-carousel carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="testi-comment carousel-item active text-center ">
                    <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet.</p>
                    <div class="client-info">
                      <h3>Sarah Ashbey</h3>
                      <h4>Stratford, PE</h4>
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div><!--client-info end-->
                  </div><!--testi-comment end-->
                  <div class="testi-comment carousel-item text-center ">
                    <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet.</p>
                    <div class="client-info">
                      <h3>Louisa Green</h3>
                      <h4>London</h4>
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div><!--client-info end-->
                  </div><!--testi-comment end-->
                  <div class="testi-comment carousel-item text-center ">
                    <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet.</p>
                    <div class="client-info">
                      <h3>Louisa Green</h3>
                      <h4>London</h4>
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div><!--client-info end-->
                  </div><!--testi-comment end-->
                </div>
                <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
              </div><!--testimonial-carousel end-->
            </div>
          </section>


          <section class="block2">
            <div class="fixed-bg bg5"></div>
            <div class="container">
              <div class="heading clr">
                <h3>Our Class</h3>
              </div><!--heading end-->
              <div class="cls-text">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="bld-text">
                      <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. </p>
                    </div><!--bld-texte end-->
                  </div>
                  <div class="col-lg-6">
                    <div class="blc-text">
                      <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. </p>
                    </div><!--blc-text end-->
                  </div>
                </div>
              </div><!--cls-texte end-->
              <div class="more-services">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="services_details">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="srvc-img">
                            <img src="http://via.placeholder.com/270x202" alt="">
                            <div class="specs-fig">
                              <ul>
                                <li>
                                  <h3>12-24 <br/> Months Old</h3>
                                </li>
                                <li>
                                  <h3>12 <br/> Class Size</h3>
                                </li>
                              </ul>
                            </div><!--specs-fig end-->
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="srv_det">
                            <h3>Pre-School Classes</h3>
                            <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna.</p>
                            <a href="#" title="">More Info</a>
                          </div><!--srv_det end-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="services_details">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="srvc-img">
                            <img src="http://via.placeholder.com/270x202" alt="">
                            <div class="specs-fig">
                              <ul>
                                <li>
                                  <h3>12-24 <br/> Months Old</h3>
                                </li>
                                <li>
                                  <h3>12 <br/> Class Size</h3>
                                </li>
                              </ul>
                            </div><!--specs-fig end-->
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="srv_det">
                            <h3>Pre-School Classes</h3>
                            <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna.</p>
                            <a href="#" title="">More Info</a>
                          </div><!--srv_det end-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="services_details">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="srvc-img">
                            <img src="http://via.placeholder.com/270x202" alt="">
                            <div class="specs-fig">
                              <ul>
                                <li>
                                  <h3>12-24 <br/> Months Old</h3>
                                </li>
                                <li>
                                  <h3>12 <br/> Class Size</h3>
                                </li>
                              </ul>
                            </div><!--specs-fig end-->
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="srv_det">
                            <h3>Pre-School Classes</h3>
                            <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna.</p>
                            <a href="#" title="">More Info</a>
                          </div><!--srv_det end-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="services_details">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="srvc-img">
                            <img src="http://via.placeholder.com/270x202" alt="">
                            <div class="specs-fig">
                              <ul>
                                <li>
                                  <h3>12-24 <br/> Months Old</h3>
                                </li>
                                <li>
                                  <h3>12 <br/> Class Size</h3>
                                </li>
                              </ul>
                            </div><!--specs-fig end-->
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="srv_det">
                            <h3>Pre-School Classes</h3>
                            <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna.</p>
                            <a href="#" title="">More Info</a>
                          </div><!--srv_det end-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--more-services end-->
            </div>
          </section>


          <section class="block5">
            <div class="fixed-bg bg6 no-fix"></div>
            <div class="container">
              <div class="heading clr">
                <h3>Your Children</h3>  
              </div><!--heading end-->
              <div class="childy-sec">
                <div class="acord-sec">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="bld-text">
                        <p>Elipsis magna a terminal nulla elementum morbi elite forte maecenas est magna vehicula est node maecenas. Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. </p>
                      </div><!--bld-texte end-->
                      <div class="feat-links">
                        <ul>
                          <li><i class="fa fa-check"></i> <span>Elipsis magna a terminal nulla elementum morbi elite</span></li>
                          <li><i class="fa fa-check"></i> <span>Praesent arcu gravida vehicula est node maecenas loareet</span></li>
                          <li><i class="fa fa-check"></i> <span>Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis</span></li>
                          <li><i class="fa fa-check"></i> <span>Elipsis magna a terminal nulla elementum morbi elite forte</span></li>
                          <li><i class="fa fa-check"></i> <span>Maecenas est magna vehicula est node maecenas.</span></li>
                        </ul>
                      </div><!--feat-links end-->
                    </div>
                    <div class="col-lg-6">
                      <div class="accordion provide-accordion toggle" id="accordion-your-children">
                        <div class="card toggle-item cl1">
                          <div class="card-header" id="headingOne">
                            <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <h2 class="mb-0 clr1"><i class="fa fa-child"></i> Safety</h2>
                            </button>
                          </div>

                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-your-children">
                            <div class="card-body">
                              <p>Elipsis magna a terminal nulla elementum morbi elite Praesent arcu gravida vehicula est node maecenas loareet Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis Elipsis magna a terminal nulla elementum morbi elite forte Maecenas est magna vehicula est node maecenas. </p>
                            </div>
                          </div>
                        </div>
                        <div class="card toggle-item cl2">
                          <div class="card-header" id="headingTwo">
                            <button class="btn btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <h2 class="clr2">
                                <i class="fa fa-smile-o"></i>Happiness
                              </h2>
                            </button>
                            
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-your-children">
                            <div class="card-body">
                              <p>Elipsis magna a terminal nulla elementum morbi elite Praesent arcu gravida vehicula est node maecenas loareet Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis Elipsis magna a terminal nulla elementum morbi elite forte Maecenas est magna vehicula est node maecenas. </p>
                            </div>
                          </div>
                        </div>
                        <div class="card toggle-item cl3">
                          <div class="card-header" id="headingThree">
                            <button class="btn btn-block collapsed clr3" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h2 class="clr3"><i class="fa fa-book"></i>Education</h2>
                            </button>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-your-children">
                            <div class="card-body">
                              <p>Elipsis magna a terminal nulla elementum morbi elite Praesent arcu gravida vehicula est node maecenas loareet Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis Elipsis magna a terminal nulla elementum morbi elite forte Maecenas est magna vehicula est node maecenas. </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div><!--acord-sec end-->
                <div class="accord-text">
                  <h3>Your children’s education and wellfare are our main priorities</h3>
                </div><!--accord-text end-->
              </div><!--childy-sec end-->
            </div>
          </section>


          <section id="gallery" class="block2">
            <div class="fixed-bg bg7 no-fix"></div>
            <div class="heading st2">
              <h3>Gallery</h3>
            </div><!--heading end-->
            <div class="masonary no-pd">
              <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="gallery-ms">
                  <img src="http://via.placeholder.com/800x536" alt="">
                  <a href="http://via.placeholder.com/800x536" title="" class="html5lightbox"><i class="fa fa-search"></i></a>
                </div><!--gallery-ms end-->
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="gallery-ms">
                  <img src="http://via.placeholder.com/800x536" alt="">
                  <a href="http://via.placeholder.com/800x536" title="" class="html5lightbox"><i class="fa fa-search"></i></a>
                </div><!--gallery-ms end-->
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="gallery-ms">
                  <img src="http://via.placeholder.com/800x536" alt="">
                  <a href="http://via.placeholder.com/800x536" title="" class="html5lightbox"><i class="fa fa-search"></i></a>
                </div><!--gallery-ms end-->
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="gallery-ms">
                  <img src="http://via.placeholder.com/800x536" alt="">
                  <a href="http://via.placeholder.com/800x536" title="" class="html5lightbox"><i class="fa fa-search"></i></a>
                </div><!--gallery-ms end-->
              </div>
            </div>
            <div class="full-gallery">
              <a href="#" title="">CLICK HERE TO VIEW OUR FULL GALLERY</a>
            </div><!--full-gallery end-->
            </div><!--gallery-section end-->
          </section>


          



          <section id="blog" class="block3">
            <div class="container">
              <div class="heading clr">
                <h3>Kindergarten Blog & News</h3>
              </div><!--heading end-->
              <div class="blog-posts">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post">
                      <div class="post-img">
                        <img src="http://via.placeholder.com/369x375" alt="">
                        <a href="blog-details.html" title=""><i class="fa fa-plus"></i></a>
                        <span class="post-date"><i class="fa fa-picture-o"></i>October 03, 2014</span>
                      </div><!--post-img end-->
                      <div class="post-info">
                        <h3><a href="blog-details.html" title="">Learn Separation Tips</a></h3>
                        <p>Elipsis magna a terminal nulla elementum morbi elite Praesent arcu gravida vehicula est node maecenas loareet Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis.</p>
                        <a href="blog-details.html" title="">Read More ></a>
                      </div><!--post-info end-->
                    </div><!--blog-post end-->
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post">
                      <div class="post-img">
                        <img src="http://via.placeholder.com/369x375" alt="">
                        <a href="blog-details.html" title=""><i class="fa fa-plus"></i></a>
                        <span class="post-date"><i class="fa fa-picture-o"></i>October 03, 2014</span>
                      </div><!--post-img end-->
                      <div class="post-info">
                        <h3><a href="blog-details.html" title="">Camp Songs for Kids</a></h3>
                        <p>Elipsis magna a terminal nulla elementum morbi elite Praesent arcu gravida vehicula est node maecenas loareet Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis.</p>
                        <a href="blog-details.html" title="">Read More ></a>
                      </div><!--post-info end-->
                    </div><!--blog-post end-->
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post">
                      <div class="post-img">
                        <img src="http://via.placeholder.com/369x375" alt="">
                        <a href="blog-details.html" title=""><i class="fa fa-plus"></i></a>
                        <span class="post-date"><i class="fa fa-picture-o"></i>October 03, 2014</span>
                      </div><!--post-img end-->
                      <div class="post-info">
                        <h3><a href="blog-details.html" title="">How Paint Funny Pictures</a></h3>
                        <p>Elipsis magna a terminal nulla elementum morbi elite Praesent arcu gravida vehicula est node maecenas loareet Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis.</p>
                        <a href="blog-details.html" title="">Read More ></a>
                      </div><!--post-info end-->
                    </div><!--blog-post end-->
                  </div>
                </div>
              </div><!--blog-posts end-->
              <div class="full-posts">
                <a href="blog.html" title="">CLICK HERE TO READ OUR FULL BLOG</a>
              </div>
            </div>
          </section>


          <footer>
            <div class="container">
              <div class="footer-data">
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="widget widget-about">
                      <h3 class="widget-title">About Us</h3>
                      <p>Ut wisi enim ad minim veniam, quis nostr exerci tation ullamorper suscipit lobortis isl ut aliquip ex ea commdo consequat. Duiste vel eum iriure door in hendrerit in vulpuatevelit esse molestie.</p>
                        
                      <%= image_tag 'logo-white-ducks.png', width: 250 %>
                    </div><!--widget-about end-->
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="widget widget-links">
                      <h3 class="widget-title">Blog Categories</h3>
                      <ul>
                        <li><a href="#" title="">Meet The Team</a></li>
                        <li><a href="#" title="">Careers</a></li>
                        <li><a href="#" title="">Testimonials</a></li>
                        <li><a href="#" title="">Community Involvement</a></li>
                        <li><a href="#" title="">What We Do</a></li>
                      </ul>
                    </div><!--widget-links end-->
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="widget widget-posts">
                      <h3 class="widget-title">Blog Posts</h3>
                      <div class="blg-posts">
                        <div class="blg-post">
                          <img src="http://via.placeholder.com/50x50" alt="">
                          <div class="blg-info">
                            <h3><a href="#" title="">Create amazing things</a></h3>
                            <span>Jan 30 2016 | by <a href="#" title="">David James</a></span>
                          </div>
                        </div>
                        <div class="blg-post">
                          <img src="http://via.placeholder.com/50x50" alt="">
                          <div class="blg-info">
                            <h3><a href="#" title="">Subscribe</a></h3>
                            <span>Jan 30 2016 | by <a href="#" title="">David James</a></span>
                          </div>
                        </div>
                        <div class="blg-post">
                          <img src="http://via.placeholder.com/50x50" alt="">
                          <div class="blg-info">
                            <h3><a href="#" title="">Start something new</a></h3>
                            <span>Jan 30 2016 | by <a href="#" title="">David James</a></span>
                          </div>
                        </div>
                      </div><!--blg-posts end-->
                    </div><!--widget-posts end-->
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="widget widget-instagram">
                      <h3 class="widget-title">Instagram</h3>
                      <ul>
                        <li><a href="#" title=""><img src="http://via.placeholder.com/85x85" alt=""></a></li>
                        <li><a href="#" title=""><img src="http://via.placeholder.com/85x85" alt=""></a></li>
                        <li><a href="#" title=""><img src="http://via.placeholder.com/85x85" alt=""></a></li>
                        <li><a href="#" title=""><img src="http://via.placeholder.com/85x85" alt=""></a></li>
                        <li><a href="#" title=""><img src="http://via.placeholder.com/85x85" alt=""></a></li>
                        <li><a href="#" title=""><img src="http://via.placeholder.com/85x85" alt=""></a></li> 
                      </ul>
                    </div><!--widget-instagram end-->
                  </div>
                </div>
              </div><!-- footer-data end-->
            </div>
          </footer><!--footer end-->


          <a href="#" title="" class="scrollTop"><i class="fa fa-arrow-up"></i></a>


      </div><!--wrapper end-->


  </body>
</html>
