<!DOCTYPE html>
<html>
  <head>
    <title>Little Ducklings Childcare Centre</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Little Ducklings Childcare Centre</a>
      <form class="form-inline">
        <a class="btn btn-outline-primary" href="/login" role="button">
        Login
        </a>
        <div style="padding-left: 10px;">
          <a class="btn btn-outline-success" href="/signup" role="button">
          Sign Up
          </a>
        </div>
      </form>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
